.page-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.only-content {
  height: fit-content;
  width: 30%;
}

.only-content div {
  margin: 10px 0;
}

h2 {
  margin: 0;
  color: rgb(84, 17, 146);
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(150, 150, 150);
}

.input:focus {
  border: 1px solid rgb(175, 175, 175);
}

.submit-form {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(152, 43, 255);
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  transition: 0.3s;
}

.submit-form:hover {
  background-color: rgb(122, 21, 216);
}

.submit-form:active {
  background-color: rgb(191, 123, 255);
  color: rgb(65, 4, 122);
}

.sign-up-link {
  margin: auto 10px;
}
