/* Tailwind styles */
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  /* for debugging */
/* 
  * {
    border: solid #ffcccb 1px;
  } */

  .spaced-table-row {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
}
